[Desktop Entry]
Version=1.0
Type=Application
Name=VSP Pipeline
Comment=Visual Speech Processing Pipeline - Start UI
Exec=__INSTALL_DIR__/vsp-start.sh
Icon=__INSTALL_DIR__/vsp-ui/logo.png
Terminal=true
Categories=AudioVideo;Video;
StartupNotify=true
